* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #FFFFFF, #bdbdbd);
}

div {
    margin: 0 auto;
    width: 560px;
    background-color: white;
}

ul.menu {
    margin: 0 auto;
    height: 20px;
    display: flex;
    list-style-type: none;
    background-color: white;
    border-radius: 0 0 60px 60px;
    border-bottom: thick rgb(207, 207, 207) solid;
    justify-content: space-around;
}

ul.menu a {
    font-size: 14px;
    color: black;
    font-weight: 200;
    text-decoration: none;
}

ul.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #000000;
    font-weight: 200;
}

ul.menu > li {
    font-size: 16px;
}

.lang {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 200;
    padding-left: 2px;
    padding-top: 4px;
    border-radius: 0 0 5px 5px;
    border-bottom: thin rgb(207, 207, 207) solid;
}

ul.lang {
    list-style-type: none;
    display: flex;
}

ul.lang > li {
    padding-left: 4px;
}

ul.lang > li > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 200;
}

ul.lang > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #000000;
    font-weight: 200;
}

/* h1 {
    padding-top: 1em;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
    border-radius: 0 0 62px 62px;
    border-bottom: medium rgb(207, 207, 207) solid;
    text-decoration: none;
    text-align: center;

} */

h2 {
    padding-top: 1em;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

#helloMessege {
    padding-top: 2em;
}

p {
    margin: 0 auto;
    padding-top: 2px;
    width: 90%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2em;
    text-align: justify;
    text-indent: 1em;
    transition: transform .4s;
}

@media screen and (max-width: 1000px) {
    div {
        margin: 0 auto;
        width: 100%;
        background-color: white;
    }

    h1 {
        padding-left: 4px;
        border-radius: 0 0 56px 56px;
        border-bottom: medium rgb(207, 207, 207) solid;
        text-decoration: none;
        font-weight: 200;
    }

    h2 {
        padding-top: 1em;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }    

    p {
        width: 96%;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.2em;
        text-align: justify;
        text-indent: 0.8em;
    }
    
    .lang {
        width: 100%;
        border-bottom: thin rgb(207, 207, 207) solid;
        padding-left: 4px;
        padding-top: 0px;

    }

    ul.menu {
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%;
        height: 20px;
        display: flex;
        list-style-type: none;
        background-color: white;
        border-bottom: thick rgb(207, 207, 207) solid;
    }

    ul.menu a {
        font-size: 16px;
        color: black;
        font-weight: 200;
        text-decoration: none;
    }
    
    ul.menu a:hover {
        text-decoration: none;
        font-weight: 200;
    }
    
    
}