* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #FFFFFF, #bdbdbd);
}

.header-site {
    width: 80%;
    height: 42px;
    background-color: #FFFF00;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 12px #a0a0a0;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    border-left: thin black solid;
    border-right: thin black solid;
    border-bottom: thick black solid;
}

.logo {
    padding-top: 3px;
    padding-left: 25px;
}

.logo-a {
    font-size: 18px;
    font-weight: 500;
    line-height: 0.1em;
    letter-spacing: 0;
}

.logo-a:visited {
    text-decoration: none;
    color: black;
}

.logo-a:hover {
    text-decoration: none;
}

.menu {
    padding-top: 12px;
    margin-right: 0;
}

.menu > ul {
    list-style-type: none;
    display: flex;
}

.menu > ul > li {
    margin-right: 25px;
    padding-right: 2px;
}

a {
    text-decoration: none;
}

.menu > ul > li > a {
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.menu > ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 2px;
}

.content-first {
    padding-top: 12em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content {
    padding-top: 8em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text > h1 {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
    padding-left: 25px;
    margin: 0 auto;
    font-weight: 800;
}

.content .text > h1 {
    padding-left: 25px;
    margin: 0 auto;
    font-weight: 800;
}


.text > p {
    width: 475px;
    padding-top: 1em;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 1em;
}

.image-hello {
    width: 600px;
    text-align: right;
    padding-right: 20px;

}

.image-hello > img {
    width: 80%;
    box-shadow: 0px 5px 15px black;
}




@media screen and (max-width: 1280px) {
    .header-site {
        width: 90%;
        height: 42px;
        background-color: #FFFF00;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 10px 12px #a0a0a0;
        border-radius: 0 0 5px 5px;
        margin: 0 auto;
    }

    .content-first {
        padding-top: 12em;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .content {
        padding-top: 8em;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }    

    .text > p {
        width: 400px;
        padding-top: 1em;
        padding-left: 25px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;
        text-align: justify;
        text-indent: 1em;
    }    

    .image-hello {
        width: 400px;
        text-align: right;
        padding-right: 20px;
        padding-top: 2em;
    }
    
    .image-hello > img {
        width: 100%;
    }
    
  }