* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #FFFFFF, #808080);
}

.header-site {
    width: 80%;
    height: 42px;
    background-color: #FFFF00;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 20px black;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
}

.logo {
    padding-top: 3px;
    padding-left: 25px;
}

.logo-a {
    font-size: 18px;
    font-weight: 800;
    line-height: 0.1;
}

.logo-a:visited {
    text-decoration: none;
    color: black;
}

.logo-a:hover {
    text-decoration: none;
}

.menu {
    padding-top: 10px;
    margin-right: 0;
}

.menu > ul {
    list-style-type: none;
    display: flex;
}

.menu > ul > li {
    margin-right: 25px;
    padding-right: 2px;
}

a {
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: brown;
}


.content {
    width: 80%;
    height: 3000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text > h1 {
    padding-top: 80px;
    padding-left: 25px;
    margin: 0 auto;
    font-weight: 800;
}

.text > p {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
}

.image-hello {
    padding-top: 80px;
    width: 200px;
    padding-right: 20px;
}

.image-hello > img {
    width: 100%;
}
